<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>ServletTest</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	
	<!-- 가상 주소 + 자바 클래스 == 가상 주소 매핑 -->
	<servlet>
		<servlet-name>ex01</servlet-name>
		<servlet-class>com.test.servlet.Ex01</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ex01</servlet-name>
		<url-pattern>/ex01.do</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>ex02</servlet-name>
		<servlet-class>com.test.servlet.Ex02</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ex02</servlet-name>
		<url-pattern>/ex02.do</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	<servlet>
		<servlet-name>send</servlet-name>
		<servlet-class>com.test.servlet.Ex03_Send</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>send</servlet-name>
		<url-pattern>/send.do</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>receive</servlet-name>
		<servlet-class>com.test.servlet.Ex03_Receive</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>receive</servlet-name>
		<url-pattern>/receive.do</url-pattern>
	</servlet-mapping>
	
	
</web-app>













